* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}
body{
	background: url("../img/background.jpg") no-repeat #383838;
	background-size: 100%;
}
.wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h1,h2,h3,h4,h5,h6 {
	color: #FF8C00;
}
a {
	text-decoration: none;
	color: #fff;
}

/**********************/
/**** H E A D E R ****/
/********************/
.header{
	background: url("../img/bg2.jpg") no-repeat #383838;
	background-size: 100%;
	height: 40%;
	padding-top:40px;
}
.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 15px;
}
.nav a{
	text-decoration: none;
	color: #fff;
	border-right:3px solid #272822;
	border-top: 3px solid #272822;
	border-bottom: 3px solid #272822;
}
.nav a:first-child {
	border-left:3px solid #272822;
}
.nav a:hover{
	background: #FF8C00;
}
.nav-item{
	background: #383838;
	padding: 10px 20px;
	margin: 0; 
	line-height:16px;
}
.category{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.category a{
	margin: 60px 40px;
	z-index: 1;
}
.category img{
	width: 130px;
}
.category a:hover{
	filter: brightness(50%);
}

/**********************/
/*** C O N T E N T ***/
/********************/

.content{
	background: #383838;
	min-height: 960px;
	width:100%;
	margin-top:20px;
}
/********************/
/***** B E T S *****/
/******************/
.bets {
	width:960px;
	margin:0 auto;
	background: #0A0A0A;
	height:70px;
	margin-bottom:40px;
}
.bets li {
	list-style:none;
	float:left;
	color: #fff;
	text-align:center;
	padding-top:25px;
	border-right:1px solid #252525;
}
.bets img {
	width:50px;
	position:absolute;
	margin-top:-10px;
	margin-left:-20px;
}
.bets img:first-child {
	margin-left:-50px;
}
.bets img:last-child {
	margin-left:0;
}
.bets .time {
	width:150px;
}
.bets .kef1 {
	width:120px;
}
.bets .teams {
	width:500px;
}
.bets .kef2 {
	width:120px;
}
.bets .go {
	width:65px;
	background: #FFA71B;
	height:44px;
}
.bets .go a{
	width:65px;
	height:44px;
	display: inline-block;
}
/********************/
/**** I N D E X ****/
/******************/
.block1, .block2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top:50px;
}
/**********************/
/**** S L I D E R ****/
/********************/
#items {
    position : relative;
    width : 600px;
    height : 300px;
    left : 20px;
}
.item {
    position : absolute;
    display :none;
    text-align : center;
    font-size : 72px;
	margin-left:-20px;
}
.item img{
    width : 600px;
    height : 300px;  
}
.first{
    display : block;
}
#controls {
    margin-top : 250px;
    position: absolute;
}
#controls li {
    display : inline-block;
    cursor : pointer;
	position: absolute;
}
#play, #pause {
    margin-left: 265px;
}
#next {
    margin-left: 530px;
}
#prev {
    margin-left:0;
}
.block1 .slider {
	width:600px;
	height:300px;
	margin-right:40px;
}
.block1 .box {
	width:300px;
	height:300px;
	background:#0A0A0A;
}
.block1 a {
	color: black;
}
.block1 .box h2{
	text-align: center;
	padding-top:35px;
	margin-bottom:20px;
}
.block1 .box div{
	text-align: center;
	padding-top:15px;
	width:200px;
	height:30px;
	background: #FFA71B;
	margin: 0 auto;
}
.block1 .box div:hover{
	background: #383838;
	color: #FFA71B;
	border: 1px solid #FFA71B;
}

.block2 .box1, .block2 .box2, .block2 .box3 {
	background: red;
}
.block2 .box1 {
	width:450px;
	height:450px;	
	margin-right:40px;
}
.block2 .box2 {
	width:450px;
	height:450px;	
}
.block2 .box2 .margin {
	width:450px;
	height:30px;
	background: #383838;
}
.block2 .box3 {
	width:450px;
	height:260px;	
}
.block2 .box3 h2{
	position: absolute;
	padding:20px;
	font-size:30px;
}
.block2 .box3 img{
	width:450px;
	height:260px;	
}
/***********************/
/******* F I X  *******/
/*********************/
@media screen and (max-width: 920px) {
	.block1 .slider, .block2 .box1 {
		margin:10px;
	}
	.block1 .box {
		margin-top:20px;
	}
	.block2 .box2, .block2 .box3 {
		display:none;
	}
}

/**********************/
/**** F O O T E R ****/
/********************/
.footer{
	background: url("../img/background.jpg") no-repeat #383838;
	background-size: 100%;
	min-height: 100px;
}


/***********************/
/**** LOGIN and REG ****/
/*********************/
.log-block{
	position: absolute;
	top: 35%;
	display: none;
	justify-content: center;
	width: 100%;
}
.reg-block {
	position: absolute;
	top: 30%;
	display: none;
	justify-content: center;
	width: 100%;
}
.forma{
	border-radius:15px;
	display: flex;
	justify-content: center;
	background: #fff;
	padding:50px;
	z-index: 3;
}
.forma input{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 30px;
	margin-bottom: 20px;
	padding-left:20px;
	font-size: 18px;
}
.forma input[type="submit"] {
	padding:20px;
	background: #383838;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	border: 0;
}
.backdoor{
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 2;
}